<template>
    <div class="countryArea">
        <span class="iti-flag" :class="areaImg" style="display: inline-block;vertical-align: middle;margin-left:20px;"><i class="el-icon-arrow-down" style="position: absolute;right: 15px;top: 50%;transform: translateY(-50%)"></i></span>
        <el-select v-model="areacode" popper-class="areaPart"  style="opacity:0" @change="changeArea">
            <el-option
            v-for="(item,index) in allCountries"
            :key="index"
            :label="item[0]"
            :value="item[2]">
            <span class="iti-flag" :class="item[1]" style="display: inline-block"></span>
            <span style="margin-left: 10px;">{{ item[0] }}</span>
            <span style="float: right;">+{{ item[2] }}</span>
            </el-option>
        </el-select>
    </div>
</template>
<script>
export default {
    name: "countryArea",
    data () {
        return {
            allCountries: [
                [ "China (中国)", "cn", "86" ],
                [ "Australia", "au", "61", 0 ],
                [ "Chad (Tchad)", "td", "235" ],
                [ "Chile", "cl", "56" ],
                [ "India (भारत)", "in", "91" ],
                [ "Indonesia", "id", "62" ],
                [ "South Korea (대한민국)", "kr", "82" ],
                [ "North Korea (조선 민주주의 인민 공화국)", "kp", "850" ],
                [ "Malaysia", "my", "60" ],
                [ "United Kingdom", "gb", "44", 0 ],
                [ "British Virgin Islands", "vg", "1284" ],
                [ "U.S. Virgin Islands", "vi", "1340" ],
                [ "Singapore", "sg", "65" ],
                [ "Vietnam (Việt Nam)", "vn", "84" ],
                [ "Thailand (ไทย)", "th", "66" ],
                [ "中国香港", "cn", "852" ],
                [ "中国澳门", "cn", "853" ],
                [ "中国台湾", "cn", "886" ]
            ],
            areacode: '86',
            areaImg: 'cn'
        }
    },
    props: {

    },
    computed: {

    },
    mounted() {
        
    },
    methods: {
        changeArea(){
            this.areaImg = this.allCountries.find( (val) => val[2] == this.areacode )[1];
            this.$emit('changeArea',this.areacode,this.areaImg);
        },
    },
    components: {

    }
}
</script>
<style rel="stylesheet/scss" lang="scss">

</style>
