<template>
  <div class="headerMenu" :class="{homeMenu: isHome && scrollHeight == 0}">
    <el-menu
      :default-active="$route.fullPath"
      class="menu_main"
      mode="horizontal"
      @select="handleSelect"
      router
      :text-color="`${scrollHeight == 0 ? '' : 'black'}`"
      active-text-color="#0DFFDC"
    >
      <template v-for="(item,index) in menuData">
        <el-submenu
          :index="item.name"
          v-if="item.children && item.children.length > 0"
          :key="index"
          popper-class="menu_popper"
        >
          <template slot="title">{{$t(`menu.${item.name}`)}}</template>
          <el-menu-item
            v-for="(child,i) in item.children"
            :key="i"
            :index="`${item.path}/${child.name}`"
          >{{$t(`menu.${child.name}`)}}</el-menu-item>
        </el-submenu>
        <el-menu-item :index="item.path" :key="index" v-else>{{$t(`menu.${item.name}`)}}</el-menu-item>
      </template>
    </el-menu>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "headerMenu",
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["scrollHeight"]),
    menuData() {
      return this.$router.options.routes;
    },
    isHome() {
      return this.$route.name == "home" ? true : false;
    }
  },
  mounted() {
    // console.log(this.menuData)
  },
  methods: {
    handleSelect() {}
  },
  components: {}
};
</script>
<style rel="stylesheet/scss" lang="scss">
.headerMenu {
  width: 100%;
  .el-menu {
    background: transparent;
  }
  // .el-submenu__title {
  //   font-weight: bold !important;
  //   font-size: 18px;
  // }
  .el-submenu__icon-arrow {
    font-weight: bold !important;
  }
  // .el-menu-item {
  //   font-weight: bold !important;
  //   font-size: 18px;
  // }
  .el-menu.el-menu--horizontal {
    border: none;
  }
  .el-menu--horizontal > .el-menu-item.is-active,
  .el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
    border: none;
  }
}
.homeMenu {
  .el-submenu__title {
    color: #fff;
  }
  .el-submenu__icon-arrow {
    color: #fff;
  }
  .el-menu--horizontal > .el-menu-item {
    color: #fff;
  }
  .el-menu--horizontal > .el-submenu .el-submenu__title {
    color: #fff;
  }
  .el-menu-item {
    color: #fff;
  }
  .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
  .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
  .el-menu--horizontal > .el-submenu .el-submenu__title:hover {
    background: transparent;
    color: #fff;
  }
  .el-menu--horizontal .el-menu .el-menu-item,
  .el-menu--horizontal .el-menu .el-submenu__title {
    background: transparent;
  }
}
</style>
