<template>
    <div class="boxHeader">
        boxHeader
    </div>
</template>
<script>
export default {
    name: "boxHeader",
    data () {
        return {

        }
    },
    computed: {

    },
    mounted() {

    },
    methods: {

    },
    components: {

    }
}
</script>
<style rel="stylesheet/scss" lang="scss">

</style>
