<template>
  <div class="layout">
    <el-container>
      <!-- <el-header>
        <box-header></box-header>
      </el-header> -->
      <el-main>
        <router-view />
      </el-main>
      <!-- <el-footer>
        <box-footer></box-footer>
      </el-footer> -->
    </el-container>
  </div>
</template>
<script>
import boxHeader from '@/views/layout/boxHeader.vue'
import boxFooter from '@/views/layout/boxFooter.vue'
export default {
  name: "layout",
  data() {
    return {};
  },
  components: {
    boxHeader,
    boxFooter
  },
  computed: {},
  mounted() {},
  methods: {}
};
</script>
<style rel="stylesheet/scss" lang="scss">
.el-main{
  height: 100vh;
  padding: 0!important;
  // background: #ddd;
}
</style>
