<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="/static/css/jquery.slotmachine.css" rel="stylesheet">
    <script src="/static/js/slotmachine.js" ></script>
    <title>IE LANDING PAGE</title>
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Health Screening Initial Form doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
