<template>
    <div class="uploadFile">
        <el-upload
            :ref="refUpload"
            action=""
            :list-type="listType"
            :file-list="fileList"
            :accept="fileType"
            :drag="true"
            :on-preview="previewFile"
            :on-remove="removeFile"
            :on-change="changeFile"
            :before-upload="beforeAvatarUpload"
            :on-progress="progressFile"
            multiple
            :auto-upload="false">
            <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="imgUrl" alt="">
        </el-dialog>
    </div>
</template>
<script>
export default {
    name: "uploadFile",
    data () {
        return {
            dialogVisible: false,
            imgUrl: '',
            identifyCount: 0,
            addressCount: 0,
            contractCount: 0
        }
    },
    props: {
		refUpload: {
			type: String,
			default() {
				return '';
			}
        },
        listType: {
			type: String,
			default() {
				return '';
			}
        },
        fileType: {
			type: String,
			default() {
				return '';
			}
        },
        fileList: {
			type: Array,
			default() {
				return [];
			}
        },
        /* fileLimit: {
            type: Number,
			default() {
				return 10000;
			}
        }, */
        imgCount: {
            type: Number,
			default() {
				return 0;
			}
        }
	},
    computed: {

    },
    mounted() { 

    },
    methods: {
        previewFile(file){
            this.imgUrl = file.url;
            this.dialogVisible = true;
        },
        removeFile(file, fileList){
            this.$emit('removeFile',file,fileList);
        },
        changeFile(file, fileList){
            if(fileList.length > 4){
                this.$message({
                    type: 'error',
                    message: this.$t('form.most_four')
                })
            }
            let tData = [];
            for(let i in fileList){
                if(i < 4){
                    tData.push(fileList[i]);
                }
            }
            this.$emit('changeFile', file , tData);
        },
        progressFile(event, file, fileList){
            //this.$emit('progressFile',file);
        },
        beforeAvatarUpload(file){
            let flag = true;
            const fileSize = file.size / 1024 < 500;
            if(!fileSize){
                this.$message.error(this.$t('form.less_five'));
                flag = false; 
            }else{

            }
            //this.$emit('changeImgCount',this.imgCount);
            return flag;
        }
    },
    components: {

    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
.uploadFile{
    .el-upload-list--picture-card .el-upload-list__item{
        width: 100px;
        height: 100px;
    }
    .el-upload--picture-card{
        width: 100px;
        height: 100px;
        line-height: 110px;
    }
    .el-upload-dragger{
        width: 100px;
        height: 100px;
    }
}

</style>
