<template>
    <div class="verifyMobile">
        <el-dialog title="" :visible.sync="verifyVisible" width="600px" :before-close="handleClose" custom-class="verifyMobileDialog">
            <span slot="title" class="dialogHeader">
                <div style="font-size: 25px;">{{$t('form.phone_auth')}}</div>
                <p v-html="$t('form.leak_it')" style="line-height: 16px;margin-bottom: 5px;"></p>
            </span>
            <el-row> 
                <el-col :span="24" style="padding: 0 15%">
                    <div class="mobileHeight">
                        <el-input :placeholder="$t('form.enterMobile')" v-model="mobile" disabled>
                            <template slot="prepend">{{$t('form.phone')}}</template>
                        </el-input>
                    </div>
                    <div class="mobileHeight"> 
                        <el-input :placeholder="$t('form.enter_code')" v-model="mobileCode">
                            <!-- <template slot="prepend">手机验证码</template> -->
                            <template slot="append">
                                <el-button  @click="toVerifyMobile(mobile)" :disabled="verifyDisabled">{{infoVal}}</el-button>
                            </template>
                        </el-input>
                    </div>
                    <div class="mobileHeight"> 
                        <el-button type="warning" @click="toConfirmCode" :loading="btnLoading">{{$t('form.confirm')}}</el-button>
                    </div>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</template>
<script>
export default {
    name: "verifyMobile",
    data () {
        return {
            mobileCode: '',
            mobile: '',
            infoVal: this.$t('form.get_code'),
            verifyDisabled: false,
            clock: null
        }
    },
    props: {
		verifyVisible: {
			type: Boolean,
			default() {
				return false;
			}
        },
        btnLoading: {
			type: Boolean,
			default() {
				return false;
			}
		}
    },
    computed: {

    },
    mounted() {
        if(sessionStorage.getItem('clock')){
            let verifySeconds = sessionStorage.getItem('clock')
            let clock = setInterval( () => {
                verifySeconds--;
                if(verifySeconds >= 0){
                    this.verifyDisabled = true;
                    this.infoVal = `${this.$t('form.send_code')}（${verifySeconds} s）`;
                    sessionStorage.setItem('clock', verifySeconds );
                }else{
                    clearInterval(clock); // 清除定时器
                    this.verifyDisabled = false;
                    this.infoVal = this.$t('form.get_code');
                    sessionStorage.removeItem('clock');
                    sessionStorage.removeItem('mobile');
                }
            },1000);
            sessionStorage.setItem('mobile', this.mobile );
        }
    },
    methods: {
        handleClose(){
            this.$emit('closeVerifyDialog');
        },
        toVerifyCode(){
            this.$emit('toVerifyCode');
        },
        firstVerifyMobile(mobileval){
            this.mobileCode = '';
            this.mobile = sessionStorage.getItem('mobile') ? sessionStorage.getItem('mobile') : mobileval;
            if(!sessionStorage.getItem('clock')){
                let verifySeconds = 60;
                this.infoVal = `${this.$t('form.send_code')}（${verifySeconds} s）`;
                let clock = setInterval( () => {
                    verifySeconds--;
                    if(verifySeconds >= 0){
                        this.verifyDisabled = true;
                        this.infoVal = `${this.$t('form.send_code')}（${verifySeconds} s）`;
                        sessionStorage.setItem('clock', verifySeconds );
                    }else{
                        clearInterval(clock); 
                        this.verifyDisabled = false;
                        this.infoVal = this.$t('form.get_code');
                        sessionStorage.removeItem('clock');
                        sessionStorage.removeItem('mobile');
                    }
                },1000);
                sessionStorage.setItem('mobile', this.mobile );
            }
        },
        toVerifyMobile(mobileval){
            /* 清空当前验证码 */
            this.mobileCode = '';
            this.mobile = sessionStorage.getItem('mobile') ? sessionStorage.getItem('mobile') : mobileval;
            if(!sessionStorage.getItem('clock')){
                let verifySeconds = 60;
                this.infoVal = `${this.$t('form.send_code')}（${verifySeconds} s）`;
                let clock = setInterval( () => {
                    verifySeconds--;
                    if(verifySeconds >= 0){
                        this.verifyDisabled = true;
                        this.infoVal = `${this.$t('form.send_code')}（${verifySeconds} s）`;
                        sessionStorage.setItem('clock', verifySeconds );
                    }else{
                        clearInterval(clock); // 清除定时器
                        this.verifyDisabled = false;
                        this.infoVal = this.$t('form.get_code');
                        sessionStorage.removeItem('clock');
                        sessionStorage.removeItem('mobile');
                    }
                },1000);
                sessionStorage.setItem('mobile', this.mobile );
                /* 发送手机验证码 */
                this.$emit('verifyMobileMethod',this.mobile);
            }
        },
        toConfirmCode(){
            /* let params = {
                email: '',
                mobileveriy: this.mobile,
                mobileverification: this.mobileCode
            } */
            let params = {
                'access-token': '7403f0291437c47e589fdd0445860f95',
                mobile: this.mobile,
                code: this.mobileCode
            }
            this.$emit('toConfirmCode', params);
        }
    },
    components: {

    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
.verifyMobile{
    .el-dialog__header{
        border: 1px solid #dcdfe6;
        padding-bottom: 0px;
    }
    .el-dialog__body{
        padding-bottom: 10px;
    }
    .el-input-group__append{
        text-align: center;
        width: 170px;
        cursor: pointer;
    }
    /* .el-input-group__append:hover{
        border: 1px solid #409EFF;
    } */
    .el-button--warning{
        width: 100%;
    }
    .dialogHeader{
        text-align: center;
        line-height: 40px;
    }
    .mobileHeight{
        padding-bottom: 20px;
        .codeAlign{
            text-align: right;
        }
        .mobileMargin{
            margin-left: 20px;
        }
    }
}
</style>

