<template>
    <div class="videoPlay" v-show="dialogVisible" style="" @click="handleClose">
        <div class="dialogContent">
            <img src="~/assets/images/mysvs-free_03.png" />
            <h5>{{$t('form.am')}}</h5>
            <a href="http://www.mysvsone.com/" target="_Blank">
                <el-button type="warning" @click="getRewards">{{$t('form.an')}}</el-button>
            </a>
        </div>
    </div>
</template>
<script>
export default {
    name: "videoPlay",
    data () {
        return {
            
        }
    },
    props: {
		dialogVisible: {
			type: Boolean,
			default() {
				return false;
			}
        }
	},
    computed: {

    },
    mounted() {

    },
    methods: {
        handleClose(){
            this.$emit('closeDialog');
        },
        getRewards(){

        }
    },
    components: {

    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
.videoPlay{
    width:100%;
    height:100%;
    display: inline-block;
    position:absolute;
    color:#fff;
    left: 0;
    top: 0;
    background:rgba(0,0,0,0.6);
    .el-dialog__header{
        display: none;
    }
    .videoClass{
        width: 100%;
        
    }
    .dialogContent{
        width: 460px;
        /* background: url("~/assets/images/mysvs-free.png") no-repeat;
        background-size: 100% 100%; */
        background: #fff;
        border-radius: 4px;
        text-align: center;
        position:absolute;
        top: 20%;
        left: 27%;
        padding: 30px 10px;
        h5{
            color: #ff7510;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        .el-button{
            width: 150px;
        }
    }
}
</style>
