<template>
    <div class="ibAccount">
        <verify-mobile ref="ibVerify" :verifyVisible.sync="verifyVisible" @closeVerifyDialog="closeVerifyDialog" @toVerifyCode="toVerifyCode" @verifyMobileMethod="verifyMobileMethod" @toConfirmCode="toConfirmCode" :btnLoading="confirmCodeLoading" v-show="verifyVisible"></verify-mobile>
        <div class="ibType ib_inner" v-if="ibStatus">
            
            <!-- <upload-file :refUpload="'refIdentity'" :listType="'picture-card'" :fileType="'.jpg,.jpeg,.png'" :fileList="thirdForm.identityFile" :imgCount="imgCounta" @removeFile="identityRemove" @changeFile="identityUpload" @changeImgCount="changeImgCount"></upload-file>
            <el-button @click="toTest">上传</el-button> -->


            <!-- <p class="ibTitle">{{$t('register.regIbacc')}}</p> -->
            <div class="regIb">
                <div class="regIbTitle">
                    <img src="@/assets/images/register/lock.png" />
                    <span>{{$t('register.ibReg')}}</span>
                </div>
                <el-form :model="mobileForm" :rules="mobileRules" ref="mobileForm" class="registerIbForm">
                    <el-form-item prop="mobile" class="mobileAppend">
                        <el-input v-model="mobileForm.mobile" :placeholder="$t('form.enterMobile')" @input.native="changeMobile" onkeydown="if(event.keyCode==13){event.keyCode=0;event.returnValue=false;}">
                            <template slot="prepend">
                                <country-area @changeArea="changeArea" />
                            </template>
                            <template slot="append">
                                <el-button @click="toVerifyMobile" v-if="!mobileSuccessCode" :disabled="verifyDisabled">{{infoVal}}</el-button>
                                <img src="@/assets/images/success.svg" height="25" v-else />
                            </template>
                        </el-input>
                    </el-form-item>
                    <!-- 继续下一步 -->
                    <el-form-item class="operate">
                        <el-button type="primary" @click="nextStep" :loading="firstLoading" :disabled="disabledBtn">{{$t('form.nextStep')}}</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
        <div class="ibFormal" v-else>
            <div class="formalContent">
                <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                    <el-tab-pane :label="$t('register.personInfo')" name="first" disabled></el-tab-pane>
                    <el-tab-pane :label="$t('register.survey')" name="second" disabled></el-tab-pane>
                    <el-tab-pane :label="$t('register.complete')" name="third" disabled></el-tab-pane>
                </el-tabs>
                <el-form :model="firstForm" :rules="firstRules" ref="firstForm" label-width="150px">
                    <div class="formalInner formalFirst" v-show="activeName == 'first'">
                        <div class="firstInner">
                            <div class="firstLeft">
                                <el-form-item :label="$t('form.email')" prop="email">
                                    <el-input v-model="firstForm.email" :placeholder="$t('form.enterEmail')" oncopy="return false" onpaste="return false" @input.native="changeEmail">
                                        <template slot="append">
                                            <el-button @click="toVerifyEmail" :loading="emailLoading" v-if="!emailSuccessCode">{{$t('form.verify')}}</el-button>
                                            <img src="@/assets/images/success.svg" height="25" v-else />
                                        </template>
                                    </el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.confirmEmail')" prop="confirmEmail">
                                    <el-input v-model="firstForm.confirmEmail" :placeholder="$t('form.enterEmailAgain')" oncopy="return false" onpaste="return false" :disabled="isConfirmEmail"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.title')" prop="title">
                                    <el-select v-model="firstForm.title" :placeholder="$t('form.selectTitle')" :disabled="isTitle">
                                        <el-option :label="item.label" :value="item.value" v-for="(item,index) in titleData" :key="index"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item :label="$t('form.firstname')" prop="firstName" class="nameToUpper">
                                    <el-input v-model="firstForm.firstName" :placeholder="$t('form.enterFirstname')" :disabled="isFirstname"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.lastname')" prop="lastName" class="nameToUpper">
                                    <el-input v-model="firstForm.lastName" :placeholder="$t('form.enterLastname')" :disabled="isLastname"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.mobile')" prop="mobile">
                                    <el-input v-model="firstForm.mobile" :placeholder="$t('form.enterMobile')" disabled></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.birthday')" prop="date">
                                    <el-date-picker v-model="firstForm.date" type="date" :placeholder="$t('form.selectDate')" :picker-options="pickerOptions" value-format="yyyy-MM-dd" :disabled="isDate"></el-date-picker>
                                </el-form-item>
                                <el-form-item :label="$t('form.address')" prop="address">
                                    <el-input v-model="firstForm.address" :placeholder="$t('form.enterAddress')" :disabled="isAddress"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.city')" prop="city">
                                    <el-input v-model="firstForm.city" :placeholder="$t('form.enterCity')" :disabled="isCity"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.province')" prop="province">
                                    <el-input v-model="firstForm.province" :placeholder="$t('form.enterProvince')" :disabled="isProvince"></el-input>
                                </el-form-item>
                            </div>
                            <div class="firstRight">
                                <el-form-item :label="$t('form.postCode')" prop="postcode">
                                    <el-input v-model="firstForm.postcode" :placeholder="$t('form.enterPostcode')" :disabled="isPostcode"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('form.country')" prop="country">
                                    <el-select v-model="firstForm.country" :placeholder="$t('form.selectCountry')" :disabled="isCountry">
                                        <el-option :label="item.display" :value="item.iso2" v-for="(item,index) in countryData" :key="index"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item :label="$t('form.liveTime')" prop="year">
                                    <el-select v-model="firstForm.year" :placeholder="$t('form.selectLivetime')" @change="changeTime" :disabled="isYear">
                                        <el-option label="0-3" value="0-3"></el-option>
                                        <el-option label="3+" value="3+"></el-option>
                                    </el-select>
                                </el-form-item>
                                <div class="yearInfo" v-if="firstForm.year == '0-3'">
                                    <p>{{$t('register.haveAddress')}}</p>
                                    <el-form-item label=" " prop="firstAddress">
                                        <el-input v-model="firstForm.firstAddress" :placeholder="$t('form.address')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="secondAddress">
                                        <el-input v-model="firstForm.secondAddress" :placeholder="$t('form.city')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="yearCity">
                                        <el-input v-model="firstForm.yearCity" :placeholder="$t('form.province')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="yearCode">
                                        <el-input v-model="firstForm.yearCode" :placeholder="$t('form.postCode')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="yearCountry">
                                        <el-select v-model="firstForm.yearCountry" :placeholder="$t('form.selectCountry')">
                                            <el-option :label="item.display" :value="item.iso2" v-for="(item,index) in countryData" :key="index"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                                <el-form-item :label="$t('form.content')" prop="content">
                                    <el-input type="textarea" v-model="firstForm.content" :placeholder="$t('register.hearAbout')" rows="5" resize="none" :disabled="isContent"></el-input>
                                </el-form-item>
                                <el-form-item prop="nowish">
                                    <el-checkbox v-model="firstForm.nowish" :disabled="isNowish"></el-checkbox>
                                    <span class="regCheckbox">{{$t('register.noWish')}}</span>
                                </el-form-item>
                                <p style="padding-left: 80px;">{{$t('form.note')}}“<span style="color: red;">*</span>”{{$t('form.isRequiredInfo')}}</p>
                            </div>
                        </div>
                        <div class="firstBtn"><el-button type="primary" @click="firstStep" :loading="firstBtnLoading">{{$t('form.next')}}</el-button></div>
                    </div>
                </el-form>
                <el-form :model="secondForm" :rules="secondRules" ref="secondForm">
                    <div class="formalInner formalSecond" v-show="activeName == 'second'">
                        <div class="secondInner">
                            <div class="secondLeft">
                                <el-form-item :label="$t('register.whichCounrty')" prop="country">
                                    <el-input v-model="secondForm.country" :placeholder="$t('form.enterCountry')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.cusmers')" prop="cusmers">
                                    <el-radio-group v-model="secondForm.cusmers">
                                        <el-radio :label="item.value" v-for="(item,index) in cusmersData" :key="index">{{item.label}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item :label="$t('register.consults')" prop="isAsk">
                                    <el-radio-group v-model="secondForm.isAsk" @change="secondRules.isaskDetail[0].required = secondForm.isAsk ? true : false">
                                        <el-radio :label="0">{{$t('form.haveNot')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.have')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="isaskDetail" v-if="secondForm.isAsk" label-width="12px" class="detailClass">
                                    <el-input v-model="secondForm.isaskDetail" :placeholder="$t('register.detailsy')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.averagea')" prop="deposit">
                                    <el-radio-group v-model="secondForm.deposit">
                                        <el-radio :label="item.value" v-for="(item,index) in depositData" :key="index">{{item.label}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item :label="$t('register.averagep')" prop="volume">
                                    <el-radio-group v-model="secondForm.volume">
                                        <el-radio :label="item.value" v-for="(item,index) in volumeData" :key="index">{{item.label}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="introduce" label-width="12px">
                                    <el-input v-model="secondForm.introduce" :placeholder="$t('register.initialy')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.advertise')" prop="advertise">
                                    <el-radio-group v-model="secondForm.advertise" @change="secondRules.advertiseDetail[0].required = secondForm.advertise ? true : false">
                                        <el-radio :label="0">{{$t('form.haveNot')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.have')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="advertiseDetail" v-if="secondForm.advertise" label-width="12px" class="detailClass">
                                    <el-input v-model="secondForm.advertiseDetail" :placeholder="$t('register.detailsy')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.seminard')" prop="ischair">
                                    <el-radio-group v-model="secondForm.ischair" @change="secondRules.ischairDetail[0].required = secondForm.ischair ? true : false">
                                        <el-radio :label="0">{{$t('form.haveNot')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.have')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="ischairDetail" v-if="secondForm.ischair" label-width="12px" class="detailClass">
                                    <el-input v-model="secondForm.ischairDetail" :placeholder="$t('register.detailsy')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.partnerui')" prop="isPartner">
                                    <el-radio-group v-model="secondForm.isPartner" @change="secondRules.isPartnerDetail[0].required = secondForm.isPartner ? true : false">
                                        <el-radio :label="0">{{$t('form.no')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.yes')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="isPartnerDetail" v-if="secondForm.isPartner" label-width="12px" class="detailClass">
                                    <el-input v-model="secondForm.isPartnerDetail" :placeholder="$t('register.detailsy')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.preferyl')" prop="firstCurrency">
                                    <el-radio-group v-model="secondForm.firstCurrency">
                                        <el-radio :label="item.value" v-for="(item,index) in currencyData" :key="index">{{item.label}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </div>
                            <div class="secondRight">
                                <el-form-item :label="$t('register.financialyu')" prop="isSupervise">
                                    <el-radio-group v-model="secondForm.isSupervise" @change="secondRules.institution[0].required = secondRules.regNumber[0].required = secondForm.isSupervise ? true : false">
                                        <el-radio :label="0">{{$t('form.no')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.yes')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <div v-if="secondForm.isSupervise">
                                    <p style="margin: 0 0 10px 26px;">{{$t('register.detailYes')}}</p>
                                    <el-form-item label=" " prop="institution" label-width="12px" class="detailClass">
                                        <el-input v-model="secondForm.institution" :placeholder="$t('register.serviceshu')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="regNumber" label-width="12px" class="detailClass">
                                        <el-input v-model="secondForm.regNumber" :placeholder="$t('register.registre')"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item :label="$t('register.forexyt')" prop="isMonitorproducts">
                                    <el-radio-group v-model="secondForm.isMonitorproducts">
                                        <el-radio :label="0">{{$t('form.no')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.yes')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item :label="$t('register.transasty')" prop="isPrice">
                                    <el-radio-group v-model="secondForm.isPrice">
                                        <el-radio :label="0">{{$t('form.no')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.yes')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item :label="$t('register.businesy')" prop="isProvide">
                                    <el-radio-group v-model="secondForm.isProvide" @change="secondRules.regulatorName[0].required = secondRules.regulatorLink[0].required = secondRules.regulatorWeb[0].required = secondRules.regulatorNumber[0].required = secondForm.isProvide ? true : false">
                                        <el-radio :label="0">{{$t('form.no')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.yes')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <div v-if="secondForm.isProvide">
                                    <p style="margin: 0 0 10px 26px;">{{$t('register.detailYes')}}</p>
                                    <el-form-item label=" " prop="regulatorName" label-width="12px" class="detailClass">
                                        <el-input v-model="secondForm.regulatorName" :placeholder="$t('register.agencyes')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="regulatorLink" label-width="12px" class="detailClass">
                                        <el-input v-model="secondForm.regulatorLink" :placeholder="$t('register.regulators')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="regulatorWeb" label-width="12px" class="detailClass">
                                        <el-input v-model="secondForm.regulatorWeb" :placeholder="$t('register.websitea')"></el-input>
                                    </el-form-item>
                                    <el-form-item label=" " prop="regulatorNumber" label-width="12px" class="detailClass">
                                        <el-input v-model="secondForm.regulatorNumber" :placeholder="$t('register.registre')"></el-input>
                                    </el-form-item>
                                </div>
                                <el-form-item :label="$t('register.involvedes')" prop="isInvolve">
                                    <el-radio-group v-model="secondForm.isInvolve" @change="secondRules.isInvolveDetail[0].required = secondForm.isInvolve ? true : false">
                                        <el-radio :label="0">{{$t('form.haveNot')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.have')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="isInvolveDetail" v-if="secondForm.isInvolve" label-width="12px" class="detailClass">
                                    <el-input v-model="secondForm.isInvolveDetail" :placeholder="$t('register.detailsy')"></el-input>
                                </el-form-item>
                                <el-form-item :label="$t('register.laundered')" prop="isLegal">
                                    <el-radio-group v-model="secondForm.isLegal" @change="secondRules.isLegalDetail[0].required = secondForm.isLegal ? true : false">
                                        <el-radio :label="0">{{$t('form.haveNot')}}</el-radio>
                                        <el-radio :label="1">{{$t('form.have')}}</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label=" " prop="isLegalDetail" v-if="secondForm.isLegal" label-width="12px" class="detailClass">
                                    <el-input v-model="secondForm.isLegalDetail" :placeholder="$t('register.detailsy')"></el-input>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="secondBtn">
                            <el-button type="primary" @click="preSecondStep">{{$t('form.last')}}</el-button>
                            <el-button type="primary" @click="secondStep" :loading="secondBtnLoading">{{$t('form.next')}}</el-button>
                        </div>
                    </div>
                </el-form>
                <el-form :model="thirdForm" :rules="thirdRules" ref="thirdForm">
                    <div class="formalInner formalThird" v-show="activeName == 'third'">
                        <div class="thirdInner">
                            <div class="thirdLeft">
                                <el-form-item prop="broker">
                                    <el-checkbox v-model="thirdForm.broker"></el-checkbox>
                                    <span style="margin-left: 10px;">{{$t('register.relevanty')}}</span>
                                </el-form-item>
                                <el-form-item label=" " prop="brokerDetail">
                                    <el-input v-model="thirdForm.brokerDetail" :placeholder="$t('register.intrpBrokersAcc')" :disabled="!thirdForm.broker"></el-input>
                                </el-form-item>
                                <el-form-item prop="uploadLater">
                                    <el-checkbox v-model="thirdForm.uploadLater">{{$t('register.uploadLater')}}</el-checkbox>
                                </el-form-item>
                                <div v-if="!thirdForm.uploadLater">
                                    <div class="uploadDesc">
                                        <p>{{$t('register.certificate')}}</p>
                                        <p><span>*</span> {{$t('register.followType')}}<span>*</span> {{$t('register.followSize')}}</p>
                                    </div>
                                    <el-form-item :label="$t('form.identityProve')" prop="identityFile"> 
                                        <upload-file :refUpload="'refIdentity'" :listType="'picture-card'" :fileType="'.jpg,.jpeg,.png'" :fileList="thirdForm.identityFile" :imgCount="imgCounta" @removeFile="identityRemove" @changeFile="identityUpload" @changeImgCount="changeImgCount"></upload-file>
                                    </el-form-item>
                                    <el-form-item :label="$t('form.addressProve')" prop="addressFile"> 
                                        <upload-file :refUpload="'refAddress'" :listType="'picture-card'" :fileType="'.jpg,.jpeg,.png'" :fileList="thirdForm.addressFile" @removeFile="addressRemove" @changeFile="addressUpload"></upload-file>
                                    </el-form-item>
                                    <el-form-item :label="$t('form.materes')" prop="contractFile"> 
                                        <upload-contact :refUpload="'refContract'" :listType="'picture-card'" :fileType="'.jpg,.jpeg,.png'" :fileList="thirdForm.contractFile" @removeFile="contractRemove" @changeFile="contractUpload"></upload-contact>
                                    </el-form-item>
                                </div>
                                <el-form-item prop="confirm">
                                    <el-checkbox v-model="thirdForm.confirm" @change="$refs.thirdForm.validateField('confirm');"></el-checkbox>
                                    <span style="margin-left: 10px;">{{$t('register.haveReached')}}</span>
                                </el-form-item>
                                <el-form-item prop="agree">
                                    <el-checkbox v-model="thirdForm.agree" @change="$refs.thirdForm.validateField('agree');"></el-checkbox>
                                    <!-- 链接国际化 -->
                                    <span style="margin-left: 10px;" v-if="$i18n.locale == 'zh'">我已阅读并同意<a href="javascript:void(0)" target="_blank">DEMO协议与条款</a></span>
                                    <span style="margin-left: 10px;" v-else>
                                        I confirm that I have read and agree to the <a href="javascript:void(0)" target="_blank">DEMO terms & Conditions</a>
                                    </span>
                                    <!-- <div style="color: #f56c6c;margin: 10px 0;" v-if="!thirdForm.agree">
                                        Please tick the Box
                                    </div> -->
                                    <!-- <p>我们致力于确保每一个客户得到机会全面了解我们之间的合同条款。</p> -->
                                    <p style="margin-top: 0;">{{$t('register.limiteds')}}</p>
                                </el-form-item>
                            </div>
                            <div class="thirdRight">
                                <img src="@/assets/images/register/demo.png" />
                                <h2>{{$t('register.certificate')}}</h2>
                                <p>{{$t('form.identityProve')}}</p>
                                <ul>
                                    <li>{{$t('register.passport')}}</li>
                                    <li>{{$t('register.license')}}</li>
                                    <li>{{$t('register.identify')}}</li>
                                    <li>{{$t('register.social')}}</li>
                                    <li>{{$t('register.residence')}}</li>
                                </ul>
                                <p>{{$t('form.addressProve')}}</p>
                                <ul>
                                    <li>{{$t('register.license')}}</li>
                                    <li>{{$t('register.identify')}}</li>
                                    <li>{{$t('register.accountBook')}}</li>
                                    <li>{{$t('register.residence')}}</li>
                                    <li>{{$t('register.permit')}}</li>
                                    <li>{{$t('register.debitCard')}}</li>
                                    <li>{{$t('register.electricityGas')}}</li>
                                </ul>
                                <p>{{$t('register.creditCard')}}</p>
                            </div>
                        </div>
                        <div class="thirdBtn">
                            <el-button type="primary" @click="preThirdStep">{{$t('form.last')}}</el-button>
                            <el-button type="primary" @click="thirdStep" :loading="thirdBtnLoading">{{$t('form.submit')}}</el-button>
                        </div>
                    </div>
                </el-form>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import verifyMobile from "@/components/dialog/verifyMobile.vue";
import uploadFile from "@/components/upload/uploadFile.vue";
import uploadContact from "@/components/upload/uploadContact.vue";
import countryArea from "@/components/dropdown/countryArea.vue";
import { verifymobilecodesend , verificationmobile , checkMobileEmail , requestIbFirst , requestIbSecond , requestIbThree , uploadImages , getCountries } from '@/api/user'
import { getNowDate , getTimestamp , getQueryString , strToUpper } from '@/utils/utils'
export default {
    name: "ibAccount",
    data () {
        return {
            value1: '',
            areacode: '86',
            areaImg: 'cn',
            mobileForm: {
                mobile: ''
            },
            mobileRules: {
                mobile: [
					/* { required: true, trigger: "blur",  message: this.$t('form.isRequired') },
                    { type: 'string',pattern: /^\d*$/, message: this.$t('form.formatError'), trigger:['blur']} */
                    { required: true, trigger: ['blur', 'change'], validator: this.validateMobile }
                ],
            },
            firstLoading: false,
            disabledBtn: false,
            verifyVisible: false,
            confirmCodeLoading: false,
            mobileSuccessCode: false,
            successMobile: -1,
            ibStatus: true,
            activeName: 'first',
            titleData: [
                { label: this.$t('form.mr'), value: 'Mr.' },
                { label: this.$t('form.mrs'), value: 'Mrs.' },
                { label: this.$t('form.ms'), value: 'Ms.' },
                { label: this.$t('form.dr'), value: 'Dr.' }
            ],
            cusmersData: [
                { label: this.$t('register.lessTen'), value: 'Less than 10' },
                { label: this.$t('register.tenFive'), value: '10-25' },
                { label: this.$t('register.twoFive'), value: '25-50' },
                { label: this.$t('register.moreFive'), value: 'More than 50' }
            ],
            depositData: [
                { label: this.$t('register.usdLess'), value: 'Less than 5000 USD' },
                { label: this.$t('register.usdFive'), value: '5,000-20,000 USD' },
                { label: this.$t('register.usdTwo'), value: '20,000-50,000 USD' },
                { label: this.$t('register.usdMore'), value: 'More than 50,000 USD' }
            ],
            volumeData: [
                { label: this.$t('register.lesThanten'), value: 'Less than 10' },
                { label: this.$t('register.oneFive'), value: '10-50' },
                { label: this.$t('register.fiveTwo'), value: '50-200' },
                { label: this.$t('register.moreThantwo'), value: 'More than 200' }
            ],
            currencyData: [
                { label: this.$t('register.usd'), value: 'USD' },
                { label: this.$t('register.gbp'), value: 'GBP' },
                { label: this.$t('register.eur'), value: 'EUR' },
                { label: this.$t('register.chf'), value: 'CHF' },
                { label: this.$t('register.other'), value: 'Other' }
            ],
            firstForm: {
                email: '',
                confirmEmail: '',
                title: '',
                firstName: '',
                lastName: '',
                mobile: null,
                date: '',
                address: '',
                city: '',
                province: '',
                postcode: '',
                country: 'CN',
                year: '',
                firstAddress: '',
                secondAddress: '',
                yearCity: '',
                yearCode: '',
                yearCountry: 'CN',
                content: '',
                nowish: ''
            },
            pickerOptions: {
                /* 禁用未满18周岁的 */
                disabledDate(time) {
                    return time.getTime() > getTimestamp(getNowDate()) * 1000;
                }
            },
            currentEmail: '-1',
            isConfirmEmail: true,
            isTitle: true,
            isFirstname: true,
            isLastname: true,
            isDate: true,
            isAddress: true,
            isCity: true,
            isProvince: true,
            isPostcode: true,
            isCountry: true,
            isYear: true,
            isContent: true,
            isNowish: true,
            firstRules: {
                email: [
                    { required: true, trigger: "blur", message: this.$t('form.isRequired') },
                    { type: 'email', trigger: ['blur', 'change'], validator: this.validateEmail }
                ],
                confirmEmail: [
                    { required: true, trigger: "blur", message: this.$t('form.isRequired') },
                    { type: 'email', trigger: ['blur', 'change'],validator: this.validateEmailAgain }
                ],
                title: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                firstName: [
					{ required: true, trigger: ['blur', 'change'], validator: this.validateName }
                ],
                lastName: [
					{ required: true, trigger: ['blur', 'change'], validator: this.validateName }
                ],
                address: [
					{ required: true, trigger: ['blur', 'change'],  message: this.$t('form.isRequired') }
                ],
                mobile: [
                    { required: true, trigger: "blur",  message: this.$t('form.isRequired') },
                    { type: 'string',pattern: /^\d*$/, message: this.$t('form.formatError'), trigger:['blur', 'change']}
                ],
                date: [
					{ required: true, trigger: "blur",  message: this.$t('form.isRequired') }
                ],
                city: [
					{ required: true, trigger: ['blur', 'change'],  message: this.$t('form.isRequired') }
                ],
                province: [
					{ required: true, trigger: ['blur', 'change'],  message: this.$t('form.isRequired') }
                ],
                postcode: [
                    { required: true, trigger: "blur",  message: this.$t('form.isRequired') },
                    { type: 'string',pattern: /^[0-9a-zA-Z]+$/, message: this.$t('form.formatError'), trigger:['blur', 'change']}
                ],
                country: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                year: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                firstAddress: [
					{ required: false, trigger: ['blur', 'change'], message: this.$t('form.isRequired') }
                ],
                secondAddress: [
					{ required: false, trigger: ['blur', 'change'], message: this.$t('form.isRequired') }
                ],
                yearCity: [
					{ required: false, trigger: ['blur', 'change'], message: this.$t('form.isRequired') }
                ],
                yearCode: [
					{ required: false, trigger: ['blur', 'change'], message: this.$t('form.isRequired') }
                ],
                yearCountry: [
					{ required: false, trigger: "change", message: this.$t('form.isRequired') }
                ],
            },
            secondForm: {
                country: '',
                cusmers: 'Less than 10',
                isAsk: 0,
                isaskDetail: '',
                deposit: 'Less than 5000 USD',
                volume: 'Less than 10',
                introduce: '',
                advertise: 0,
                advertiseDetail: '',
                ischair: 0,
                ischairDetail: '',
                isPartner: 0,
                isPartnerDetail: '',
                firstCurrency: 'USD',
                isSupervise: 0,
                institution: '',
                regNumber: '',
                isMonitorproducts: 0,
                isPrice: 0,
                isProvide: 0,
                regulatorName: '',
                regulatorLink: '',
                regulatorWeb: '',
                regulatorNumber: '',
                isInvolve: 0,
                isInvolveDetail: '',
                isLegal: 0,
                isLegalDetail: ''
            },
            secondRules: {
                country: [
					{ required: true, trigger: "blur",  message: this.$t('form.isRequired') }
                ],
                cusmers: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isAsk: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ], 
                isaskDetail: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                deposit: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                volume: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                introduce: [
					{ required: true, trigger: "blur",  validator: this.validateInt }
                ], 
                advertise: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                advertiseDetail: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                ischair: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                ischairDetail: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                isPartner: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isPartnerDetail: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                firstCurrency: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isSupervise: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                institution: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ],
                regNumber: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                isMonitorproducts: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isPrice: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isProvide: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                regulatorName: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                regulatorLink: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                regulatorWeb: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                regulatorNumber: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                isInvolve: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isInvolveDetail: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
                isLegal: [
					{ required: true, trigger: "change",  message: this.$t('form.isRequired') }
                ],
                isLegalDetail: [
					{ required: false, trigger: "blur",  message: this.$t('form.isRequired') }
                ], 
            },  
            thirdForm: {
                brokerDetail: '',
                identityFile: [],
                addressFile: [],
                contractFile: [],
                confirm: '',
                agree: ''
            },
            thirdRules: {
                confirm: [
					{ required: true, trigger: "change",  validator: this.validateCheckbox }
                ],
                agree: [
					{ required: true, trigger: "change",  validator: this.validateCheckbox }
                ],
                identityFile: [
					{ required: true, trigger: "change",  message: 'Please upload the Files' }
                ],
                addressFile: [
					{ required: true, trigger: "change",  message: 'Please upload the Files' }
                ],
                contractFile: [
					{ required: true, trigger: "change",  message: 'Please upload the Files' }
                ],
            },
            countryData: [],
            identityVisible: false,
            addressVisible: false,
            identityFormdata: {},
            addressFormdata: {},
            contractFormdata: {},
            imgCounta: 0,
            currentId: null,
            emailLoading: false,
            firstBtnLoading: false,
            secondBtnLoading: false,
            thirdBtnLoading: false,
            currentSecret: '',
            emailSuccessCode: false,
            verifyDisabled: false,
            infoVal: '点击验证'
        }
    },
    computed: {

    },
    mounted() {
        /* 满18周岁 */
        this.firstForm.date = getNowDate();

        /* 默认选中国家 */
        getCountries({'access-token': '7403f0291437c47e589fdd0445860f95'}).then( v => {
            this.countryData = v.data.countries;
        })

        this.identityFormdata = new FormData();
        this.addressFormdata = new FormData();
        this.contractFormdata = new FormData();

    },
    watch: {
        'firstForm.firstName'(){
            this.changeFirstName(this.firstForm.firstName)
        },
        'firstForm.lastName'(){
            this.changeLastName(this.firstForm.lastName);
        }
    },
    methods: {
        async toTest(){
            this.identityFormdata.append('access-token','2f64dba637e3af451643ff971d1c8b7d');
            let res = await uploadImages(this.identityFormdata)
            console.log(898)
            console.log(res)
        },
        changeArea(v1,v2){
            this.areacode = v1;
            this.areaImg = v2;
        },
        changeFirstName(v){
            this.firstForm.firstName = strToUpper(v);
        },
        changeLastName(v){
            this.firstForm.LastName = strToUpper(v);
        },
        changeMobile(){
            if(this.mobileForm.mobile == this.successMobile){
                this.mobileSuccessCode = true;
            }else{
                this.mobileSuccessCode = false;
            }
        },
        changeEmail(){
            if(this.firstForm.email == this.currentEmail){
                this.emailSuccessCode = true;
                /* 解除禁用 */
                this.isConfirmEmail = false;
                this.isTitle = false;
                this.isFirstname = false;
                this.isLastname = false;
                this.isDate = false;
                this.isAddress = false;
                this.isCity = false;
                this.isProvince = false;
                this.isPostcode = false;
                this.isCountry = false;
                this.isYear = false;
                this.isContent = false;
                this.isNowish = false;
            }else{
                this.emailSuccessCode = false;
                /* 禁用 */
                this.isConfirmEmail = true;
                this.isTitle = true;
                this.isFirstname = true;
                this.isLastname = true;
                this.isDate = true;
                this.isAddress = true;
                this.isCity = true;
                this.isProvince = true;
                this.isPostcode = true;
                this.isCountry = true;
                this.isYear = true;
                this.isContent = true;
                this.isNowish = true;
            }
        },
        /* 手机验证 */
        validateMobile(rule, value, callback){
            if(value === ''){
	          	callback(new Error(this.$t('form.isRequired')));
	        }else{
                let ptn;
                if(this.areacode === '86'){
                    ptn = /^1[3456789]\d{9}$/;
                }else{
                    ptn = /^\d*$/;
                }
	        	var res = ptn.test(value);
	        	if(!res){
	        		callback(new Error(this.$t('form.formatError')));
	        	}else{
	        		callback();
	        	}
	        }
        },
        /* 验证手机号 */
        toVerifyMobile(){
            this.$refs.mobileForm.validateField('mobile', async (valid) => {
                if(!valid){
                    let params = {
                        'access-token': '7403f0291437c47e589fdd0445860f95',
                        mobile: this.mobileForm.mobile
                    }
                    let v = await checkMobileEmail(params);
                    if(v.code === 0){
                        this.$refs.ibVerify.firstVerifyMobile(this.mobileForm.mobile);
                        this.verifyVisible = true;
                        if(!sessionStorage.getItem('clock')){
                            this.verifyMobileMethod(this.mobileForm.mobile);
                        }
                    }else{
                        this.$message({
                            type: 'error',
                            message: v.msg
                        })
                    }
                }
            });
        },
        nextStep(){
            this.$refs.mobileForm.validate( async (valid) => {
                if(valid){
                    /* 如果已验证通过的手机号与当前手机号不同 需要重新验证 */
                    if(this.mobileForm.mobile !== this.successMobile){
                        this.mobileSuccessCode = false;
                    }
                    if(!this.mobileSuccessCode){
                        this.$message({
                            type: 'error',
                            message: this.$t('form.verifyMobile')
                        })
                    }else{
                        /* 跳转下一步 */
                        this.ibStatus = false;
                        this.firstForm.mobile = this.mobileForm.mobile;
                    }
                }else{
                    
                }
            })
        },
        /* 关闭验证手机dialog */
        closeVerifyDialog(){
            /* if(sessionStorage.getItem('clock')){
                let verifySeconds = sessionStorage.getItem('clock')
                let clock = setInterval( () => {
                    verifySeconds--;
                    if(verifySeconds >= 0){
                        this.verifyDisabled = true;
                        this.infoVal = `重发验证码（${verifySeconds} s）`;
                        sessionStorage.setItem('clock', verifySeconds );
                    }else{
                        clearInterval(clock); 
                        this.verifyDisabled = false;
                        this.infoVal = '点击验证';
                        sessionStorage.removeItem('clock');
                        sessionStorage.removeItem('mobile');
                    }
                },1000);
                sessionStorage.setItem('mobile', this.mobile );
            } */
            this.verifyVisible = false;
        },
        toVerifyCode(){
            
        },
        /* 发送验证码 */
        verifyMobileMethod(mobile){
            let params = {
                'access-token': '7403f0291437c47e589fdd0445860f95',
                mobile: mobile,
                area_code: this.areacode
            }
            verifymobilecodesend(params).then( v => {
                if(v.code == 0){
                    this.$message({
                        type: 'success',
                        message: this.$t('form.sendCodeSuccess')
                    })
                }else{
                    this.$message({
                        type: 'error',
                        message: v.msg
                    })
                }
            })
        },
        /* 确认手机验证码 */
        async toConfirmCode(data){
            this.confirmCodeLoading = true;
            let v = await verificationmobile(data);
            this.confirmCodeLoading = false;
            if(v.code == 0){
                this.verifyVisible = false;
                this.mobileSuccessCode = true;
                this.successMobile = data.mobile;
                this.$refs.mobileForm.validateField('mobile');
                this.$message({
                    type: 'success',
                    message: this.$t('form.mobileVerifySuccess')
                })
            }else{
                this.$message({
                    type: 'error',
                    message: this.$t('form.mobileVerifyError')
                })
            }
        },
        /* 邮箱验证 */
        validateEmail(rule, value, callback){
            if(value === ''){
                callback(new Error(this.$t('form.isRequired')));
            }else{
                let ptn = /^[a-zA-Z0-9._]+@[a-zA-Z0-9.-_]+\.[a-zA-Z0-9-._]+$/;
                let res = ptn.test(value);
                if(!res){
	        		callback(new Error(this.$t('form.enterCorrectEmail')));
	        	}else{
		          	if (this.firstForm.confirmEmail !== '') {
                        this.$refs.firstForm.validateField('confirmEmail');
                    }
                    callback();
	        	}	
            }
        },
        /* 再次验证邮箱 */
        validateEmailAgain(rule, value, callback){
            if(value === ''){
                callback(new Error(this.$t('form.isRequired')));
            }else{
                let ptn = /^[a-zA-Z0-9._]+@[a-zA-Z0-9.-_]+\.[a-zA-Z0-9-._]+$/;
                let res = ptn.test(value);
                if(!res){
                    callback(new Error(this.$t('form.enterCorrectEmail')));
                }
                if(value !== this.firstForm.email){
                    callback(new Error(this.$t('form.againEmailError')));
                }else{
                    callback();
                }
            }
        },
        /* 姓名验证 */
        validateName(rule, value, callback){
            if(value === ''){
	          	callback(new Error(this.$t('form.isRequired')));
	        }else{
	        	var ptn = /^[A-Za-z0-9_ ]{0,48}$/;
	        	var res = ptn.test(value);
	        	if(!res){
	        		callback(new Error(this.$t('form.formatError')));
	        	}else{
	        		callback();
	        	}
	        }
        },
        /* 多选框验证 */
        validateCheckbox(rule, value, callback){
            console.log(8889)
            console.log(value)
            if(!value){
                // callback(new Error(this.$t('form.isRequired')));
                callback(new Error(`Please tick the Box`));
            }else{
                callback();
            }
        },
        /* 正整数 */
        validateInt(rule, value, callback){
            if(value === ''){
	          	callback(new Error(this.$t('form.isRequired')));
	        }else{
	        	var ptn = /^[1-9]\d*$/;
	        	var res = ptn.test(value);
	        	if(!res){
	        		callback(new Error(this.$t('form.enterInt')));
	        	}else{
	        		callback();
	        	}
	        }
        },
        handleClick(){

        },
        changeTime(v){
            if(v === '0-3'){
                this.firstRules.firstAddress[0].required = true;
                this.firstRules.secondAddress[0].required = true;
                this.firstRules.yearCity[0].required = true;
                this.firstRules.yearCode[0].required = true;
                this.firstRules.yearCountry[0].required = true;
            }else{
                this.firstRules.firstAddress[0].required = false;
                this.firstRules.secondAddress[0].required = false;
                this.firstRules.yearCity[0].required = false;
                this.firstRules.yearCode[0].required = false;
                this.firstRules.yearCountry[0].required = false;
            }
        },
        toVerifyEmail(){
            this.$refs.firstForm.validateField('email', async valid => {
                if(!valid){
                    let params = {
                        'access-token': '7403f0291437c47e589fdd0445860f95',
                        email: this.firstForm.email
                    }
                    this.emailLoading = true;
                    let v = await checkMobileEmail(params);
                    this.emailLoading = false;
                    if(v.code === 0){
                        /* 记录当前已验证过的邮箱 */
                        this.currentEmail = this.firstForm.email;
                        /* 解除禁用 */
                        this.isConfirmEmail = false;
                        this.isTitle = false;
                        this.isFirstname = false;
                        this.isLastname = false;
                        this.isDate = false;
                        this.isAddress = false;
                        this.isCity = false;
                        this.isProvince = false;
                        this.isPostcode = false;
                        this.isCountry = false;
                        this.isYear = false;
                        this.isContent = false;
                        this.isNowish = false;
                        this.$message({
                            type: 'success',
                            message: this.$t('form.verifySuccess')
                        })
                        this.emailSuccessCode = true;
                    }else{
                        this.$message({
                            type: 'error',
                            message: v.msg
                        })
                    }
                }else{
                   
                }
            })
        },
        /* 第一步 */
        firstStep(){
            /* 先验证邮箱是否验证 */
            this.$refs.firstForm.validateField('email', (validEmail) => {
                /* 邮箱验证通过 */
                if(!validEmail){
                    if(this.currentEmail != this.firstForm.email){
                        this.$message({
                            type: 'error',
                            message: this.$t('form.verifyEmailFirst')
                        })
                        this.emailSuccessCode = false;
                    }else{
                        this.$refs.firstForm.validate( async valid => {
                            if(valid){
                                let params = {
                                    acc_id: this.currentId,
                                    secret: this.currentSecret,
                                    'access-token': '7403f0291437c47e589fdd0445860f95',
                                    email: this.firstForm.email, // 邮箱
                                    email2: this.firstForm.confirmEmail, // 邮箱
                                    title: this.firstForm.title, // 称谓
                                    firstname: this.firstForm.firstName, // 名
                                    lastname: this.firstForm.lastName, // 姓
                                    dob: this.firstForm.date, // 生日
                                    phone: this.firstForm.mobile, // 电话号码
                                    addr1: this.firstForm.address, // 地址
                                    addr2: this.firstForm.city, // 城市
                                    city: this.firstForm.province, // 省份
                                    pincode: this.firstForm.postcode, // 邮政编码
                                    country: this.firstForm.country, // 国家
                                    address_time: this.firstForm.year, // 居住时间
                                    prev_address1: this.firstForm.firstAddress, // 已有地址：居住时间
                                    prev_address2: this.firstForm.secondAddress, // 已有地址：地址
                                    prev_city: this.firstForm.yearCity, // 已有地址：城市
                                    prev_postcode: this.firstForm.yearCode, // 已有地址：邮政编码
                                    prev_country: this.firstForm.yearCountry, // 已有地址：国家
                                    feedback: this.firstForm.content, // 如何得知SVS
                                    agreecome: this.firstForm.nowish, // 同意接收邮件
                                    clients_from_which_country: this.secondForm.country, // 你的客户来源国家
                                    no_of_clients: this.secondForm.cusmers, // 目前多少客户
                                    services_offered: this.secondForm.isAsk, // 你有向客户提供服务吗
                                    services_offered_if_yes: this.secondForm.isaskDetail, // 有向客户提供什么样的服务
                                    average_deposit: this.secondForm.deposit, // 平均每个用户入美金多少
                                    average_trading_volume: this.secondForm.volume, // 平均交易数量
                                    no_of_clients_initially: this.secondForm.introduce, // 你最初会介绍多少用户
                                    advertise_online: this.secondForm.advertise, // 是否有线上广告
                                    if_yes_advertise_online: this.secondForm.advertiseDetail, // 线上广告具体说明
                                    offer_trading_seminar: this.secondForm.ischair, // 是否提供培训讲座
                                    if_yes_offer_trading_seminar: this.secondForm.ischairDetail, // 有什么培训讲座
                                    are_you_ib: this.secondForm.isPartner, // 是否有其它经销商
                                    if_yes_ib: this.secondForm.isPartnerDetail, // 若有，其他经销商信息，没有则空
                                    account_currency: this.secondForm.firstCurrency, // 货币种类
                                    are_you_regulated_ib: this.secondForm.isSupervise, // 是否受到其它金融机构监管
                                    if_yes_financial_services_name: this.secondForm.institution, // 监管机构名称
                                    if_yes_registration_number: this.secondForm.regNumber, // 监管机构注册号
                                    fx_regulated_country: this.secondForm.isMonitorproducts, // 外汇在你们国家受监管吗
                                    trading_regulated_country: this.secondForm.isPrice, // 差价合约和(或)差价交易在您国家受监管吗
                                    ib_regulated_country: this.secondForm.isProvide, // 在您国家,向一个金融服务提供商介绍业务和(或)作为介绍经纪商是一个受金融服务管机构监管的行为吗?
                                    if_yes_name_of_regulator: this.secondForm.regulatorName, // 金融服务管机构监管的名称
                                    if_yes_link_to_regulator_register: this.secondForm.regulatorLink, // 您在监管机构注册的链接
                                    if_yes_regulator_website: this.secondForm.regulatorWeb, // 监管机构官网
                                    if_yes_your_reg_no: this.secondForm.regulatorNumber, // 注册号
                                    subjected_in_bankruptcy: this.secondForm.isInvolve, // 您曾经有没有被牵涉到任何破产程序、清盘令或其他民事诉讼的仲裁
                                    if_yes_subjected_in_bankruptcy: this.secondForm.isInvolveDetail, // 详细说明仲裁的事
                                    subjected_in_legal_action: this.secondForm.isLegal, // 你有没有任何关于反洗钱规则或任何金融犯罪有关的法律仲裁
                                    if_yes_subjected_in_legal_action: this.secondForm.isLegalDetail, // 有的话详细说明
                                    ib_name: this.thirdForm.brokerDetail, // 介绍经纪商名
                                    ageconfirm: this.thirdForm.confirm, // 是否满18周岁
                                    agree: this.thirdForm.agree, // 同意条款
                                    site_url: window.location.href, //当前url链接
                                    sales_id: getQueryString('sales_id'),
                                    referral_code: getQueryString('referral_code'),
                                    referral_offer_id: getQueryString('referral_offer_id'),
                                    referral_url_id: getQueryString('referral_url_id'),
                                    area_code: this.areacode
                                }
                                this.firstBtnLoading = true;
                                let v = await requestIbFirst(params);
                                this.firstBtnLoading = false;
                                if(v.code == 0){
                                    this.currentId = v.data.acc_id;
                                    this.currentSecret = v.data.secret;
                                    this.activeName = 'second';
                                    window.scrollTo(0,0);
                                }else{
                                    this.$message({
                                        type: 'error',
                                        message: v.msg
                                    })
                                }
                            }
                        })
                    }
                }
            })
        },
        preSecondStep(){
            this.activeName = 'first';
            window.scrollTo(0,0);
        },
        /* 第二步 */
        secondStep(){
            this.$refs.secondForm.validate( async valid => {
                if(valid){
                    let params = {
                        acc_id: this.currentId,
                        'access-token': '7403f0291437c47e589fdd0445860f95',
                        email: this.firstForm.email, // 邮箱
                        email2: this.firstForm.confirmEmail, // 邮箱
                        title: this.firstForm.title, // 称谓
                        firstname: this.firstForm.firstName, // 名
                        lastname: this.firstForm.lastName, // 姓
                        dob: this.firstForm.date, // 生日
                        phone: this.firstForm.mobile, // 电话号码
                        addr1: this.firstForm.address, // 地址
                        addr2: this.firstForm.city, // 城市
                        city: this.firstForm.province, // 省份
                        pincode: this.firstForm.postcode, // 邮政编码
                        country: this.firstForm.country, // 国家
                        address_time: this.firstForm.year, // 居住时间
                        prev_address1: this.firstForm.firstAddress, // 已有地址：居住时间
                        prev_address2: this.firstForm.secondAddress, // 已有地址：地址
                        prev_city: this.firstForm.yearCity, // 已有地址：城市
                        prev_postcode: this.firstForm.yearCode, // 已有地址：邮政编码
                        prev_country: this.firstForm.yearCountry, // 已有地址：国家
                        feedback: this.firstForm.content, // 如何得知SVS
                        agreecome: this.firstForm.nowish, // 同意接收邮件
                        clients_from_which_country: this.secondForm.country, // 你的客户来源国家
                        no_of_clients: this.secondForm.cusmers, // 目前多少客户
                        services_offered: this.secondForm.isAsk, // 你有向客户提供服务吗
                        services_offered_if_yes: this.secondForm.isaskDetail, // 有向客户提供什么样的服务
                        average_deposit: this.secondForm.deposit, // 平均每个用户入美金多少
                        average_trading_volume: this.secondForm.volume, // 平均交易数量
                        no_of_clients_initially: this.secondForm.introduce, // 你最初会介绍多少用户
                        advertise_online: this.secondForm.advertise, // 是否有线上广告
                        if_yes_advertise_online: this.secondForm.advertiseDetail, // 线上广告具体说明
                        offer_trading_seminar: this.secondForm.ischair, // 是否提供培训讲座
                        if_yes_offer_trading_seminar: this.secondForm.ischairDetail, // 有什么培训讲座
                        are_you_ib: this.secondForm.isPartner, // 是否有其它经销商
                        if_yes_ib: this.secondForm.isPartnerDetail, // 若有，其他经销商信息，没有则空
                        account_currency: this.secondForm.firstCurrency, // 货币种类
                        are_you_regulated_ib: this.secondForm.isSupervise, // 是否受到其它金融机构监管
                        if_yes_financial_services_name: this.secondForm.institution, // 监管机构名称
                        if_yes_registration_number: this.secondForm.regNumber, // 监管机构注册号
                        fx_regulated_country: this.secondForm.isMonitorproducts, // 外汇在你们国家受监管吗
                        trading_regulated_country: this.secondForm.isPrice, // 差价合约和(或)差价交易在您国家受监管吗
                        ib_regulated_country: this.secondForm.isProvide, // 在您国家,向一个金融服务提供商介绍业务和(或)作为介绍经纪商是一个受金融服务管机构监管的行为吗?
                        if_yes_name_of_regulator: this.secondForm.regulatorName, // 金融服务管机构监管的名称
                        if_yes_link_to_regulator_register: this.secondForm.regulatorLink, // 您在监管机构注册的链接
                        if_yes_regulator_website: this.secondForm.regulatorWeb, // 监管机构官网
                        if_yes_your_reg_no: this.secondForm.regulatorNumber, // 注册号
                        subjected_in_bankruptcy: this.secondForm.isInvolve, // 您曾经有没有被牵涉到任何破产程序、清盘令或其他民事诉讼的仲裁
                        if_yes_subjected_in_bankruptcy: this.secondForm.isInvolveDetail, // 详细说明仲裁的事
                        subjected_in_legal_action: this.secondForm.isLegal, // 你有没有任何关于反洗钱规则或任何金融犯罪有关的法律仲裁
                        if_yes_subjected_in_legal_action: this.secondForm.isLegalDetail, // 有的话详细说明
                        ib_name: this.thirdForm.brokerDetail, // 介绍经纪商名
                        ageconfirm: this.thirdForm.confirm, // 是否满18周岁
                        agree: this.thirdForm.agree, // 同意条款
                        site_url: window.location.href, //当前url链接
                        sales_id: getQueryString('sales_id'),
                        referral_code: getQueryString('referral_code'),
                        referral_offer_id: getQueryString('referral_offer_id'),
                        referral_url_id: getQueryString('referral_url_id'),
                        secret: this.currentSecret,
                        area_code: this.areacode
                    }
                    this.secondBtnLoading = true;
                    let v = await requestIbSecond(params);
                    this.secondBtnLoading = false;
                    if(v.code == 0){
                        this.activeName = 'third';
                        window.scrollTo(0,0);
                    }else{
                        this.$message({
                            type: 'error',
                            message: v.msg
                        })
                    }
                }
            });
        },
        preThirdStep(){
            this.activeName = 'second';
            window.scrollTo(0,0);
        },
        /* 第三步 */
        thirdStep(){
            this.$refs.thirdForm.validate( async valid => {
                if(valid){
                    let params = {
                        acc_id: this.currentId,
                        'access-token': '7403f0291437c47e589fdd0445860f95',
                        email: this.firstForm.email, // 邮箱
                        email2: this.firstForm.confirmEmail, // 邮箱
                        title: this.firstForm.title, // 称谓
                        firstname: this.firstForm.firstName, // 名
                        lastname: this.firstForm.lastName, // 姓
                        dob: this.firstForm.date, // 生日
                        phone: this.firstForm.mobile, // 电话号码
                        addr1: this.firstForm.address, // 地址
                        addr2: this.firstForm.city, // 城市
                        city: this.firstForm.province, // 省份
                        pincode: this.firstForm.postcode, // 邮政编码
                        country: this.firstForm.country, // 国家
                        address_time: this.firstForm.year, // 居住时间
                        prev_address1: this.firstForm.firstAddress, // 已有地址：居住时间
                        prev_address2: this.firstForm.secondAddress, // 已有地址：地址
                        prev_city: this.firstForm.yearCity, // 已有地址：城市
                        prev_postcode: this.firstForm.yearCode, // 已有地址：邮政编码
                        prev_country: this.firstForm.yearCountry, // 已有地址：国家
                        feedback: this.firstForm.content, // 如何得知SVS
                        agreecome: this.firstForm.nowish, // 同意接收邮件
                        clients_from_which_country: this.secondForm.country, // 你的客户来源国家
                        no_of_clients: this.secondForm.cusmers, // 目前多少客户
                        services_offered: this.secondForm.isAsk, // 你有向客户提供服务吗
                        services_offered_if_yes: this.secondForm.isaskDetail, // 有向客户提供什么样的服务
                        average_deposit: this.secondForm.deposit, // 平均每个用户入美金多少
                        average_trading_volume: this.secondForm.volume, // 平均交易数量
                        no_of_clients_initially: this.secondForm.introduce, // 你最初会介绍多少用户
                        advertise_online: this.secondForm.advertise, // 是否有线上广告
                        if_yes_advertise_online: this.secondForm.advertiseDetail, // 线上广告具体说明
                        offer_trading_seminar: this.secondForm.ischair, // 是否提供培训讲座
                        if_yes_offer_trading_seminar: this.secondForm.ischairDetail, // 有什么培训讲座
                        are_you_ib: this.secondForm.isPartner, // 是否有其它经销商
                        if_yes_ib: this.secondForm.isPartnerDetail, // 若有，其他经销商信息，没有则空
                        account_currency: this.secondForm.firstCurrency, // 货币种类
                        are_you_regulated_ib: this.secondForm.isSupervise, // 是否受到其它金融机构监管
                        if_yes_financial_services_name: this.secondForm.institution, // 监管机构名称
                        if_yes_registration_number: this.secondForm.regNumber, // 监管机构注册号
                        fx_regulated_country: this.secondForm.isMonitorproducts, // 外汇在你们国家受监管吗
                        trading_regulated_country: this.secondForm.isPrice, // 差价合约和(或)差价交易在您国家受监管吗
                        ib_regulated_country: this.secondForm.isProvide, // 在您国家,向一个金融服务提供商介绍业务和(或)作为介绍经纪商是一个受金融服务管机构监管的行为吗?
                        if_yes_name_of_regulator: this.secondForm.regulatorName, // 金融服务管机构监管的名称
                        if_yes_link_to_regulator_register: this.secondForm.regulatorLink, // 您在监管机构注册的链接
                        if_yes_regulator_website: this.secondForm.regulatorWeb, // 监管机构官网
                        if_yes_your_reg_no: this.secondForm.regulatorNumber, // 注册号
                        subjected_in_bankruptcy: this.secondForm.isInvolve, // 您曾经有没有被牵涉到任何破产程序、清盘令或其他民事诉讼的仲裁
                        if_yes_subjected_in_bankruptcy: this.secondForm.isInvolveDetail, // 详细说明仲裁的事
                        subjected_in_legal_action: this.secondForm.isLegal, // 你有没有任何关于反洗钱规则或任何金融犯罪有关的法律仲裁
                        if_yes_subjected_in_legal_action: this.secondForm.isLegalDetail, // 有的话详细说明
                        ib_name: this.thirdForm.brokerDetail, // 介绍经纪商名
                        ageconfirm: this.thirdForm.confirm, // 是否满18周岁
                        agree: this.thirdForm.agree, // 同意条款
                        site_url: window.location.href, //当前url链接
                        sales_id: getQueryString('sales_id'),
                        referral_code: getQueryString('referral_code'),
                        referral_offer_id: getQueryString('referral_offer_id'),
                        referral_url_id: getQueryString('referral_url_id'),
                        secret: this.currentSecret,
                        area_code: this.areacode
                    }
                    /* 稍后上传 */
                    if(this.thirdForm.uploadLater){
                        this.thirdBtnLoading = true;
                        let v = await requestIbThree(params);
                        this.thirdBtnLoading = false;
                        if(v.code == 0){
                            this.$message({
                                type: 'success',
                                message: 'Successful!'
                            })
                            /* 跳转mysvs */
                            // this.$router.push({ path: `/${this.$i18n.locale}/user/mtIbSuccess`})
                            setTimeout( () => {
                                window.location.reload();
                            },2000)
                        }else{
                            this.$message({
                                type: 'error',
                                message: v.msg
                            })
                        }
                    }else{
                        this.identityFormdata.append('access-token','2f64dba637e3af451643ff971d1c8b7d');
                        this.addressFormdata.append('access-token','2f64dba637e3af451643ff971d1c8b7d');
                        this.contractFormdata.append('access-token','2f64dba637e3af451643ff971d1c8b7d');
                        let [firstImg,secondImg,thirdImg] = await axios.all([uploadImages(this.identityFormdata),uploadImages(this.addressFormdata),uploadImages(this.contractFormdata)]);
                        if(firstImg.code == 0 && secondImg.code == 0 && thirdImg.code == 0 ){
                            params.img = firstImg.data.url;
                            params.img2 = secondImg.data.url;
                            params.img3 = thirdImg.data.url;
                            this.thirdBtnLoading = true;
                            let result = await requestIbThree(params);
                            this.thirdBtnLoading = false;
                            if(result.code == 0){
                                this.$message({
                                    type: 'success',
                                    message: 'Successful!'
                                })
                                setTimeout( () => {
                                    window.location.reload();
                                },2000)
                            }else{
                                this.$message({
                                    type: 'error',
                                    message: v.msg
                                })
                            }
                        }else{
                            this.$message({
                                type: 'error',
                                message: this.$t('form.uploadError')
                            });
                        }
                    }
                }else{

                }
            })
        },
        /* 身份文件移除 */
        identityRemove(file, fileList){
            if(fileList.length === 0){
                this.thirdForm.identityFile = [];
            }
            this.thirdForm.identityFile = fileList;
            this.$refs.thirdForm.validateField('identityFile');
            if(fileList.length > 0){
                this.identityFormdata = new FormData();
                fileList.map( v => {
                    this.identityFormdata.append('file[]',v.raw);
                })
            }
        },
        /* 身份上传 */
        identityUpload(file, fileList){
            this.$set(this.thirdForm,'identityFile', fileList);
            // 去掉首页上传图片，要打开注释
            this.$refs.thirdForm.validateField('identityFile');
            if(fileList.length > 0){
                this.identityFormdata = new FormData();
                fileList.map( v => {
                    this.identityFormdata.append('file[]',v.raw);
                })
            }
        },
        changeImgCount(){
            this.imgCounta++;
        },
        /* 地址文件移除 */
        addressRemove(file, fileList){
            if(fileList.length === 0){
                this.thirdForm.addressFile = [];
            }
            this.thirdForm.addressFile = fileList;
            this.$refs.thirdForm.validateField('addressFile');
            if(fileList.length > 0){
                this.addressFormdata = new FormData();
                fileList.map( v => {
                    this.addressFormdata.append('file[]',v.raw);
                })
            }
        },
        /* 地址上传 */
        addressUpload(file, fileList){
            //this.thirdForm.addressFile = fileList;
            this.$set(this.thirdForm,'addressFile', fileList);
            this.$refs.thirdForm.validateField('addressFile');
            if(fileList.length > 0){
                this.addressFormdata = new FormData();
                fileList.map( v => {
                    this.addressFormdata.append('file[]',v.raw);
                })
            }
        },
        /* 合同文件移除 */
        contractRemove(file, fileList){
            if(fileList.length === 0){
                this.thirdForm.contractFile = [];
            }
            this.thirdForm.contractFile = fileList;
            this.$refs.thirdForm.validateField('contractFile');
            if(fileList.length > 0){
                this.contractFormdata = new FormData();
                fileList.map( v => {
                    this.contractFormdata.append('file[]',v.raw);
                })
            }
        },
        /* 合同上传 */
        contractUpload(file, fileList){
            this.thirdForm.contractFile = fileList;
            this.$refs.thirdForm.validateField('contractFile');
            if(fileList.length > 0){
                this.contractFormdata = new FormData();
                fileList.map( v => {
                    this.contractFormdata.append('file[]',v.raw);
                })
            }
        },
    },
    components: {
        verifyMobile,uploadFile,uploadContact,countryArea
    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
.ibAccount{
    height: 100%;
    // background-image: url('../../assets/images/bg/bg01.jpg');
    // background-size: 100% 100%;
    background: #000;
    position: relative;
    .ib_inner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .ibType{
        // height: 828px;
        // background-image: url('@/assets/images/bg/bg01.jpg');
        // background-size: 100% 100%;
        // background: #ddd;
        .ibTitle{
            padding: 100px 0 50px 0;
            color: #fff;
            font-size: 28px;
            text-align: center; 
        }
        .el-button.is-disabled, .el-button.is-disabled:hover, .el-button.is-disabled:focus{
            //background: gray;
            border-radius: 0px;
        }
        .regIb{
            color: #fff;
            // width: 1200px;
            // margin: 0 auto;
            // padding: 0 400px;
            .regIbTitle{
                text-align: center;
                margin-bottom: 40px;
                img{
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                    margin-left: 15px;
                    font-size: 18px;
                }
            }
            .registerIbForm{
                .mobileAppend{
                    text-align: center;
                    .el-input-group__append{
                        width: 100px;
                        //background: #ff7510;
                        background: transparent;
                        border-color: #fff;
                        color: #ff7510;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .el-select{
                        width: 100%;
                    }
                    .el-input-group__prepend{
                        width: 80px;
                        background: transparent;
                        padding: 0px;
                        .el-input__inner{
                            border: 0px;
                        }
                        .el-dropdown{
                            width: 100%;
                            height: 38px;
                            .el-dropdown-link{
                                line-height: 40px;
                                height: 14px;
                            }
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        .el-icon-arrow-down{
                            text-align: right;
                        }
                    }
                    .el-input__inner{
                        background: transparent;
                        color: #fff;
                    }
                    .el-input__inner:focus{
                        border-color: #ff7510;
                    }
                    img{
                        vertical-align: middle;
                    }
                }
                .operate{
                    text-align: center;
                    padding-top: 20px;
                    .el-button{
                        width: 100%;
                    }
                }
            }
        }
    }
    .ibFormal{
        // height: 100%;
        background: black;
        color: #fff;
        .formalContent{
            margin: 0 auto;
            padding: 50px 30px;
            .nameToUpper{
                .el-input__inner{
                    text-transform: capitalize;
                }
            }
            .detailClass{
                margin-left: 15px;
            }
            .el-tabs__item{
                color: #fff;
            }
            .el-tabs__item.is-active{
                color: #ff7510;
            }
            .formalInner{
                margin-top: 80px;
            }
            .el-input.is-disabled .el-input__inner{
                background-color: #484b50;
            }
            .el-input__inner{
                background: transparent;
                color: #fff;
            }
            .el-textarea.is-disabled .el-textarea__inner{
                background-color: #484b50 !important;
                color: #fff;
            }
            .el-checkbox__input.is-disabled .el-checkbox__inner{
                background-color: #484b50;
            }
            .el-form-item__label{
                color: #fff;
            }
            .el-select{
                width: 100%;
            }
            .el-date-editor.el-input, .el-date-editor.el-input__inner{
                width: 100%;
            }
        }
        .formalFirst{
            .el-input__inner:focus{
                border-color: #ff7510;
            }
            .el-textarea__inner:focus{
                border-color: #fff;
            }
            .firstInner{
                display: flex;
                .firstLeft{
                    flex: 1;
                    padding-right: 60px;
                    .el-input-group__append{
                        //background: #ff7510;
                        background: transparent;
                        border-color: #dcdfe6;
                        color: #ff7510;
                        width: 100px;
                        text-align: center;
                        .el-button{
                            width: 100px;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .firstRight{
                    flex: 1;
                    .el-textarea__inner{
                        background: transparent;
                        color: #fff;
                    }
                    .regCheckbox{
                        margin-left: 10px;
                    }
                    .yearInfo{
                        p{
                            margin: 0 0 15px 80px;
                            font-size: 14px;
                        }
                    }
                }
            }
            .firstBtn{
                text-align: center;
                margin-top: 30px;
                .el-button{
                    width: 150px;
                    height: 42px;
                    font-size: 12px;
                }
            }
        }
        .formalSecond{
            .el-input__inner:focus{
                border-color: #ff7510;
            }
            .secondInner{
                display: flex;
                .el-form-item__label{
                    text-align: left;
                    width: 100%;
                }
                .inputStyle{
                    .el-form-item__label{
                        width: 20px;
                        line-height: 40px;
                    }
                }
                .secondLeft{
                    flex: 1;
                    padding-right: 60px;
                }
                .secondRight{
                    flex: 1;
                }
            }
            .secondBtn{
                text-align: center;
                margin-top: 30px;
                .el-button{
                    width: 150px;
                    height: 42px;
                    font-size: 12px;
                }
            }
            .el-radio{
                width: 50%;
                color: #fff;
                height: 30px;
                line-height: 30px;
            }
            .el-radio__inner{
                width: 20px;
                height: 20px;
                &:after{
                    width: 8px;
                    height: 8px;
                }
            }
            .el-radio__input.is-checked+.el-radio__label{
                color: #ff7510;
            }
            .el-radio__input.is-checked .el-radio__inner{
                background: #ff7510;
                border-color: #ff7510;
            }
            .el-radio-group{
                width: 100%;
            }
            .el-radio+.el-radio{
                margin-left: 0px;
            }
        }
        .formalThird{
            .el-input__inner:focus{
                border-color: #ff7510;
            }
            .thirdInner{
                display: flex;
                .el-form-item__content{
                    width: 100%;
                }
                .el-form-item__label{
                    text-align: left;
                    width: 100%;
                    line-height: 25px;
                    margin-bottom: 5px;
                }
                .thirdLeft{
                    flex: 2;
                    a{
                        color: #ff7510;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 25px;
                    }
                    .uploadDesc{
                        margin-bottom: 20px;
                        line-height: 26px;
                        font-size: 14px;
                        span{
                            color: red;
                        }
                    }
                    .el-checkbox__label{
                        color: #fff;
                    }
                }
                .thirdRight{
                    flex: 2;
                    padding-left: 80px;
                    font-size: 14px;
                    line-height: 30px;
                    h2{
                        font-weight: 500;
                        font-size: 14px;
                    }
                    p{
                        margin: 10px 0;
                        font-size: 14px;
                    }
                }
            }
            .thirdBtn{
                text-align: center;
                margin-top: 30px;
                .el-button{
                    width: 150px;
                    height: 42px;
                    font-size: 12px;
                }
            }
        }
    }
}
</style>
