<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: 'app',
  data() {
    return {}
  },
  computed: {
    
  },
  components: {
    
  },

  created() {
    
  },
  mounted() {
    
  },
  methods: {
    
  }
}
</script>
<style rel="stylesheet/scss" lang="scss">
#app {
  font-family: 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
</style>
