<template>
  <div class="login">
    login666
  </div>
</template>
<script>
export default {
  name: "login",
  data() {
    return {};
  },
  components: {},
  computed: {},
  mounted() {},
  methods: {}
};
</script>
<style rel="stylesheet/scss" lang="scss">
</style>
